<ion-header>
    <ion-navbar>
        <ion-title>Willkommen</ion-title>
    </ion-navbar>
</ion-header>

<ion-content scroll="false">
    <!--Welcome Header-->
    <div class="splash-bg"></div>
    <div class="splash-info">
        <div class="splash-logo"></div>
        <div class="splash-intro">Willkommen zu DRINKFULL!</div>
    </div>

    <form method="post">
        <ion-list>
            <ion-item>
                <ion-label fixed>Email</ion-label>
                <ion-input [(ngModel)]="user.email" type="text" name="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label fixed>Password</ion-label>
                <ion-input [(ngModel)]="user.password" type="password" name="password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Administration</ion-label>
                <ion-checkbox [(ngModel)]="user.asAdmin" name="asAdmin"></ion-checkbox>
            </ion-item>

            <ion-row>
                <ion-col col-12 col-xl-2 col-lg-2 col-md-3 col-sm-4>
                    <div padding>
                        <button ion-button color="primary" block (click)="authUser()">
                            Login
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-list>
    </form>
</ion-content>