<ion-tabs *ngIf="!asAdmin">
    <ion-tab [root]="tab1Root" tabTitle="Lobby" tabIcon="home"></ion-tab>
    <ion-tab [root]="seg1Root" tabTitle="History" tabIcon="clock"></ion-tab>
    <ion-tab [root]="seg2Root" tabTitle="Invoice" tabIcon="document"></ion-tab>
    <ion-tab [root]="tab6Root" tabTitle="Account" tabIcon="contact"></ion-tab>
</ion-tabs>

<ion-tabs *ngIf="asAdmin">
    <ion-tab [root]="tab7Root" tabTitle="Inventory" tabIcon="md-clipboard"></ion-tab>
    <ion-tab [root]="tab8Root" tabTitle="Banking" tabIcon="logo-usd"></ion-tab>
    <ion-tab [root]="tab9Root" tabTitle="Users" tabIcon="ios-people"></ion-tab>
    <ion-tab [root]="tab10Root" tabTitle="Account" tabIcon="contact"></ion-tab>
</ion-tabs>