<ion-header>
    <ion-navbar>
        <ion-title>
            Banking
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="cards-bg" padding>
    <ion-grid>
        <ion-row>

            <!-- Months Dropdown -->
            <ion-col class="monthSelection" 
            col-12 offset-0
            col-xl-4 offset-xl-7
            col-lg-6 offset-lg-5
            col-md-7 offset-md-4 
            col-sm-9 offset-sm-4>
                <ion-item>
                    <ion-label class="selectorLabel" style="width:100%;">Wähle ein Datum aus</ion-label>
                    <ion-select [(ngModel)]="chosenMonth.id" interface="popover">
                        <ion-option (ionSelect)="monthSelected(item)" *ngFor="let item of cMonths" [value]="item.id">{{item.name}}</ion-option>
                    </ion-select>
                    <ion-select [(ngModel)]="chosenYear.id" interface="popover">
                        <ion-option (ionSelect)="yearSelected(item)" *ngFor="let item of cYears" [value]="item.id">{{item.name}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col col-12 col-md-8 offset-md-2>
    <ion-card class="cards-list-demo">
        <!-- Banking -->
        <ion-card-header>
            Banking
        </ion-card-header>

        <!-- Products -->
        <div *ngIf="consumedDrinks.length!=0" class="table">

            <ion-grid>
                <!-- Header -->
                <ion-row class="consumList border-bottom" justify-content-center>
                    <ion-col col-4 col-md-3 col-lg-2>
                        <strong>Produkte</strong>
                    </ion-col>
                    <ion-col col-4 col-md-3 col-lg-2>
                        <strong>Standort</strong>
                    </ion-col>
                    <ion-col col-4 col-md-3 col-lg-2>
                        <strong>Preis</strong>
                    </ion-col>
                </ion-row>

                <!-- Consume List -->
                <ion-row class="consumList" *ngFor="let drink of consumedDrinks" justify-content-center>
                    
                    <ion-col col-4 col-md-3 col-lg-2>
                        {{drink.productName}}
                    </ion-col>
                    <ion-col col-4 col-md-3 col-lg-2>
                        {{drink.locationName}}
                    </ion-col>
                    <ion-col col-4 col-md-3 col-lg-2>
                        <span class="drinkPrice">{{+drink.price*drink.buyDrinkCount}}€</span>
                    </ion-col>
                </ion-row>
            

                <!-- Total -->
                <ion-row class="consumList border-top" justify-content-center>
                    <ion-col col-8 col-md-6 col-lg-4>
                        <strong>Total</strong>
                    </ion-col>
                    <ion-col col-4 col-md-3 col-lg-2>
                        <strong>{{totalConsumed}}€</strong>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>

        <!-- Empty Purchase List -->
        <ion-list *ngIf="consumedDrinks.length==0">
            <ion-item>
                No drinks consumed so far in this month!
            </ion-item>
        </ion-list>

    </ion-card>
    </ion-col>
    </ion-row>
</ion-grid>

</ion-content>