page-lobby {
    span.listHeader {
        color: map-get($colors, primary);
        font-size: 1.1em;
    }
    ion-col.hausSelection {
        padding-right: 9%;
    }
    button.locationDisplay{
        max-width: 55%;
    }

    @media all and (min-width: 416px) {
        ion-label.selectorLabel {
            margin-right: 25%;
        }
    }
    @media all and (min-width: 1200px) {
        ion-label.selectorLabel {
            margin-right: 0%;
        }
    }

}
