<ion-header>
    <ion-navbar>
        <ion-title>Lobby</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="cards-bg" padding>

    <!-- Location Dropdown -->
    <ion-row>
        <ion-col class="hausSelection" col-12 offset-0 col-xl-4 offset-xl-9 col-lg-6 offset-lg-7 col-md-7 offset-md-6 col-sm-9 offset-sm-4>
            <ion-item>
                <ion-label class="selectorLabel">Wähle dein aktuelles Haus aus:</ion-label>
                <ion-select [(ngModel)]="selectedLocation._id" interface="popover">
                    <ion-option (ionSelect)="selectDropdownLocation(item)" *ngFor="let item of locationDropdown" [value]="item._id">{{item.locationName}}</ion-option>
                </ion-select>
            </ion-item>

        </ion-col>
    </ion-row>

    <ion-card class="cards-list-demo">

        <ion-card-header>
            <!-- Location Popover -->
            <ion-item>
                <span class="listHeader">{{selectedLocation.locationName}}</span>
                <button class="locationDisplay" ion-button item-end outline icon-start (click)="presentPopover(selectedLocation._id)">
                    <ion-icon name='compass'></ion-icon>
                    Location
                </button>
            </ion-item>
        </ion-card-header>

        <hr>

        <!--Drinks detail list-->
        <div class="drinkListContent">
            <ion-grid>
                <ion-list>
                    <ion-row [class.nonQuantity]="drink.quantity==0" class="drinkItem" *ngFor="let drink of selectedLocation.drinks|async">

                        <ion-col *ngIf="drink.deleted!='1'" class="iconAndName" col-6 col-xl-4 col-lg-3 col-md-2 col-sm-2>
                            <ion-icon [name]='drink.icon' item-start></ion-icon>
                            {{drink.productName}}
                        </ion-col>

                        <ion-col *ngIf="drink.deleted!='1'" class="priceTag" col-3 col-xl-1 col-lg-1 col-md-1 col-sm-1>
                            <span class="drinkPrice">{{drink.price*drink.buyDrinkCount}}€</span>
                        </ion-col>

                        <ion-col *ngIf="drink.deleted!='1'" class="amountInput" col-3 col-xl-2 col-lg-3 col-md-2 col-sm-2>
                            <div class="amount">
                                <span class="drinkAmount">{{+drink.buyDrinkCount}}</span><br>
                                <span *ngIf="drink.count==drink.buyDrinkCount" class="errorMessage">Maximale Anzahl erreicht</span>
                            </div>
                        </ion-col>

                        <ion-col *ngIf="drink.deleted!='1'" class="addDecButton" col-6 col-xl-2 col-lg-2 col-md-2 col-sm-3>
                            <drink-button [drinkStatus]="drink"></drink-button>
                        </ion-col>

                        <ion-col *ngIf="drink.deleted!='1'" class="addDecButton" col-6 col-xl-2 offset-xl-0 col-lg-2 offset-lg-0 col-md-2 offset-md-2 col-sm-2 offset-sm-1>
                            <button ion-button outline *ngIf="drink.count!=0" (click)="confirmPurchase(drink)">Notieren</button>
                            <button ion-button outline *ngIf="drink.count==0" disabled="true">Ausverkauft</button>

                        </ion-col>

                    </ion-row>

                </ion-list>
            </ion-grid>
        </div>
    </ion-card>
</ion-content>