<!--Problem:
  all "sumPreis" are NOT dynamitic!!!
-->
<ion-header>
    <ion-navbar>
        <ion-title> History </ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="cards-bg" padding>
    <ion-segment [(ngModel)]="segmentList">
        <ion-segment-button value="history"> History </ion-segment-button>
        <ion-segment-button value="invoice"> Invoice </ion-segment-button>
    </ion-segment>

    <ion-card class="cards-list-demo" [ngSwitch]="segmentList">
        <!--Hsitory list-->

        <ion-list *ngSwitchCase="'history'">
            <ion-card-header> Hier ist Information über 'History' </ion-card-header>

            <history-segment></history-segment>
        </ion-list>


        <!--invoice list-->

        <ion-list *ngSwitchCase="'invoice'">
            <ion-card-header>
                Hier ist Information über 'Invoice'
            </ion-card-header>

            <!--<invoice-segment></invoice-segment>-->

        </ion-list>

    </ion-card>

</ion-content>