// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-card.cards-list-demo ion-card-header {
    color: map-get($colors, primary);
    font-size: 1.8rem;
}

.item-input {
    ion-label {
        width: 13em;
        max-width: 60em;
        color: black;
        .itemLabel {
            color: #999;
        }
    }
}

.itemLabel {
    color: #999;
}

.itemLabelSmall {
    font-size: 0.8em;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        border-bottom-color: #aaaaaa;
        webkit-box-shadow: inset 0 -1px 0 0 #aaaaaa;
        box-shadow: inset 0 -1px 0 0 #aaaaaa;
    }

.item-md .item-button {
        height: 38px;
        font-size: 1.4rem;
        width: 200px;
    }

.button-outline-md-secondary {
        border-color: #20B2AA; 
        color: #20B2AA;
    }
    .button-outline-md-danger {
        border-color: #cc2d4d;
        color: #cc2d4d;
    }
    .cards-list-demo{
        padding-bottom: 15px;
    }

div {
    &.setButton {
        margin-top: 40px;
    }
    &.itemGroup {
        margin: 25px 0px 15px 0px;
    }
    &.drinkListContent {
        margin: 10px 0px 20px 0px;
    }
}

ion-item {
    &.setProfile {
        margin-top: 25px;
    }
}

ion-col {
    &.addDecButton {
        text-align: center;
        padding-top: 20px;
    }
    &.amountInput {
        text-align: center;
        padding-top: 40px;
    }
    &.buttonCol {
        text-align: right;
        padding-top: 25px;
        margin-top: -20px;
        margin-left: 2%;
    }
    &.dateCol {
        margin-top: -20px;
        padding-top: 27px;
    }
    &.iconAndName {
        padding-top: 40px;
        padding-left: 2%;
    }
    &.priceInput {
        padding-top: 27px;
        padding-left: 20px;
        width:75px;
    }
    &.priceTag {
        padding-top: 40px;
    }
    &.sumPriceItem {
        padding-top: 30px;
        width:75px;
    }
    &.logoutButton{
            padding-right: 10px;
        }
    &.monthSelection {
            padding-right: 9%;
        }
}

ion-list {
    &.consumSum {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

span {
    &.errorMessage {
        font-size: 0.5em;
        // padding-top: 18px;
        color: map-get($colors, danger);
    }
    &.sumSpan {
        color: map-get($colors, primary);
        font-size: 1.2em;
        font-weight: bold;
    }
    &.sumPreis {
        color: #555;
        font-weight: bold;
        font-size: 1.2em;
    }
}

ion-row {
    &.billButton {
        margin-left: 2%;
        margin-bottom: 20px;
        padding-right: 3%;
    }
    &.border- {
        &top>ion-col {
            border-top-style: double;
        }
        &bottom>ion-col {
            border-bottom-style: double;
        }
    }
    &.consumList {
        margin-left: 2%;
    }
    &.drinkItem.zebra {
        padding: 0px 0px 20px 0;
        &:nth-child(odd) {
            background: #caebf6;
        }
        &:nth-child(even) {
            background: #eff5f6;
        }
    }
    &.needToBuy {
        color: map-get($colors, danger);
    }
    &.nonQuantity {
        opacity: 0.3;
    }
    &.logoutButton{
            margin-top: -30px;
            margin-bottom: 15px;
        }
    &.sumInvoice{
        font-weight: bolder;
        color: #555;
    }
}

ion-select{
    &.invoiceOrt{
        padding: 13px 8px 13px 8px;
     }
}

hr.double {
    overflow: visible;
    /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

@media (max-width:662px) {
    ion-input{
        &.smallerInputFeld {
            margin-left:-100px;
        }
    }
    ion-select{
        &.smallerInputFeld {
            margin-left:-100px;
        }
    }
    ion-label{
        &.longLabel{
            padding-right: 100px;
        }
    }
}
    @media (max-width:412px) {
        ion-input{
            &.smallerInputFeld {
                margin-left:-140px;
            }
        }
        ion-select{
            &.smallerInputFeld {
                margin-left:-140px;
            }
        }
        ion-label{
            &.longLabel{
                padding-right: 150px;
            }
        }

    }
    