<ion-header>
    <ion-navbar>
        <ion-title> History </ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="cards-bg" padding>
    <ion-card class="cards-list-demo">
        <ion-grid>
            <ion-row>
                <ion-col cclass="dateCol" col-9 offset-2 col-xl-3 offset-xl-7 col-lg-4 offset-lg-5 col-md-5 offset-md-4 col-sm-6 offset-sm-2>
                    <ion-list>
                        <ion-item>
                            <ion-label>Start</ion-label>
                            <ion-datetime [(ngModel)]="event.start" (ionChange)="filterByDate()" displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" monthShortNames="Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez" cancelText="Abbrechen" doneText="OK"></ion-datetime>
                        </ion-item>
                        <ion-item>
                            <ion-label>Ende</ion-label>
                            <ion-datetime [(ngModel)]="event.end" (ionChange)="filterByDate()" displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" monthShortNames="Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez" cancelText="Abbrechen" doneText="OK"></ion-datetime>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col class="buttonCol currentMonthButton" col-10 offset-10 col-xl-1 offset-xl-0 col-lg-1 offset-lg-0 col-md-1 offset-md-0 col-sm-2 offset-sm-0>
                    <button ion-button outline (click)="setThisMonth()">
                Aktueller Monat
            </button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-card-header>
            History
        </ion-card-header>

        <ion-grid>
            <!-- History -->
            <ion-row class="drinkItem zebra" *ngFor="let drink of consumedDrinks.orders|async">
                <ion-col class="iconAndName" col-6 col-xl-4 col-lg-4 col-md-4 col-sm-4>
                    <ion-icon [name]="drink.icon" item-start></ion-icon>
                    {{ drink.productName }}
                </ion-col>
                <ion-col class="priceTag" col-6 col-xl-2 col-lg-2 col-md-2 col-sm-2>
                    <span class="drinkPrice">{{ drink.price }}€</span>
                </ion-col>
                <ion-col class="priceTag" col-4 offset-2 col-xl-2 offset-xl-0 col-lg-2 offset-lg-0 col-md-2 offset-md-0 col-sm-2 offset-sm-0>
                    <span class="drinkTime">{{ drink.time }}</span>
                </ion-col>
                <ion-col class="priceTag" col-4 offset-2 col-md-4 offset-xl-0 col-lg-4 offset-lg-0 col-md-4 offset-md-0 col-sm-4 offset-sm-0>
                    <span class="drinkDate">{{ drink.date }}</span>
                </ion-col>
            </ion-row>

            <!-- Total sum  -->
            <ion-row class="consumSum">
                <ion-col class="iconAndName" col-6 col-xl-4 col-lg-4 col-md-4 col-sm-4>
                    <span class="sumSpan">Monat Kosten:</span>
                </ion-col>
                <ion-col class="consumDate priceTag" col-6 col-xl-2 col-lg-2 col-md-2 col-sm-2>
                    <span class="sumPreis">{{ totalMonthConsume }} €</span>
                </ion-col>
            </ion-row>
        </ion-grid>