<ion-header>
    <ion-navbar>
        <ion-title>
            Deine Abrechnungen
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="cards-bg" padding>
    <ion-grid>
        <ion-row>

            <!-- Months Dropdown -->
            <ion-col class="monthSelection" col-12 offset-0 col-xl-4 offset-xl-9 col-lg-6 offset-lg-7 col-md-7 offset-md-6 col-sm-9 offset-sm-4>
                <ion-item>
                    <ion-label class="selectorLabel" style="width:100%;">Wähle ein Datum aus</ion-label>
                    <ion-select [(ngModel)]="chosenMonth.id" interface="popover">
                        <ion-option (ionSelect)="monthSelected(item)" *ngFor="let item of cMonths" [value]="item.id">{{item.name}}</ion-option>
                    </ion-select>
                    <ion-select [(ngModel)]="chosenYear.id" interface="popover">
                        <ion-option (ionSelect)="yearSelected(item)" *ngFor="let item of cYears" [value]="item.id">{{item.name}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>

        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col col-12 col-md-8 offset-md-2>

                <ion-card class="cards-list-demo">
                    <!-- Banking -->
                    <ion-card-header>
                        Deine Abrechnungen
                    </ion-card-header>

                    <!-- Products -->
                    <div *ngIf="consumedDrinks.length!=0">

                        <!-- Header -->
                        <ion-list>
                            <ion-row class="consumList border-bottom" justify-content-center>
                                <ion-col col-4 col-md-3 col-lg-2>
                                    <strong>Produkte</strong>
                                </ion-col>
                                <ion-col col-4 col-md-3 col-lg-2>
                                    <strong>Standort</strong>
                                </ion-col>
                                <ion-col col-4 col-md-3 col-lg-2>
                                    <strong>Preis</strong>
                                </ion-col>
                            </ion-row>
                        </ion-list>

                        <!-- Consumed List -->
                        <ion-list>
                            <ion-row class="consumList" *ngFor="let drink of consumedDrinks" justify-content-center>
                                <ion-col col-4 col-md-3 col-lg-2>
                                    {{drink.productName}}
                                </ion-col>
                                <ion-col col-4 col-md-3 col-lg-2>
                                    {{drink.locationName}}
                                </ion-col>
                                <ion-col col-4 col-md-3 col-lg-2>
                                    <span class="drinkPrice">{{+drink.price*drink.buyDrinkCount}}€</span>
                                </ion-col>
                            </ion-row>
                        </ion-list>

                        <!-- Total -->
                        <ion-list>
                            <ion-row class="consumList sumInvoice border-top" justify-content-center>
                                <ion-col col-8 col-md-6 col-lg-4>
                                    Total
                                </ion-col>
                                <ion-col col-4 col-md-3 col-lg-2>
                                    <span class="drinkPrice">{{totalConsumed}}€</span>
                                </ion-col>
                            </ion-row>
                        </ion-list>

                        <!-- Monthly Limit -->
                        <ion-list>
                            <ion-row class="consumList sumInvoice" justify-content-center>
                                <ion-col col-8 col-md-6 col-lg-4>
                                    Monthly Limit Left
                                </ion-col>
                                <ion-col col-4 col-md-3 col-lg-2>
                                    <span *ngIf="monthlyLimit >= 0" class="drinkPrice">
                            {{monthlyLimit}}€
                        </span>
                                    <span *ngIf="monthlyLimit < 0" class="drinkPrice" style="color:red;">
                            {{monthlyLimit}}€
                        </span>
                                </ion-col>
                            </ion-row>
                        </ion-list>

                        <hr>

                        <!-- Send Invoices Button -->
                        <ion-list class="bills">

                            <ion-row class="billButton">
                                <ion-col col-12 col-xl-3 col-lg-4 col-md-5 col-sm-6>
                                    <div class="setButton">
                                        <button ion-button color="primary" (click)="download()" block>Download Rechnung</button>
                                    </div>
                                </ion-col>
                            </ion-row>

                        </ion-list>

                    </div>

                    <!-- empty purchase list -->
                    <ion-list *ngIf="consumedDrinks.length==0">
                        <ion-item>
                            No drinks consumed so far in this month!
                        </ion-item>
                    </ion-list>

                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>