<ion-header>
  <ion-navbar>
    <ion-title>
      Account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row class="logoutButton">
        <ion-col class="logoutButton"
        col-6 offset-6
        col-xl-1 offset-xl-11
        col-lg-2 offset-lg-10
        col-md-2 offset-md-10
        col-sm-2 offset-sm-10>
          <div class="setButton">
            <button ion-button color="danger" outline (click)="logout()" block>Logout</button>
          </div>
        </ion-col>
      </ion-row>

  <ion-card class="cards-list-demo">
    <ion-card-header>
      Account
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-item-group>
          <ion-item-divider color="light">Passwort Einstellungen:</ion-item-divider>
          <div class="itemGroup">
            <ion-item>
              <ion-label class="longLabel">Altes Passwort:</ion-label>
              <ion-input class="smallerInputFeld" [(ngModel)]="oldUser.password" type="password" placeholder="Gib hier dein altes Passwort ein" name="oldpassword"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label class="longLabel">Neues Passwort:</ion-label>
              <ion-input class="smallerInputFeld" [(ngModel)]="newPassword.newPassword" type="password" placeholder="Gib hier dein neues Passwort ein" name="newpasswordfirst"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="longLabel">Neues Passwort Wiederholt:</ion-label>
              <ion-input class="smallerInputFeld" [(ngModel)]="newPassword.newPasswordRepeat" type="password" placeholder="Gib hier dein neues Passwort erneut ein" name="newpasswordsecond"></ion-input>
            </ion-item>

            <ion-item>
                <div class="setButton">
                  <button ion-button color="primary" (click)="accountSetting()" block>Set</button>
                </div>
            </ion-item>

          </div>

         

          <ion-item-divider color="light">Account Einstellungen:</ion-item-divider>
          <div class="itemGroup">
            <ion-item>
              <ion-label class="longLabel">Email-Adresse:</ion-label>
              <ion-input class="smallerInputFeld" [(ngModel)]="userData.email " type="text"  name="oldpassword"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label >Wohnheim:</ion-label>
              <ion-select class="smallerInputFeld" [(ngModel)]="userData.locationid" interface="popover">
                <ion-option *ngFor="let location of locations" [value]="location._id" [attr.selected]="(location._id == userData.locationid) ? true : false">{{location.locationName}}</ion-option>
              </ion-select>


            </ion-item>

            <ion-item class="accountSetting">
              <ion-label class="longLabel">Raumnummer:</ion-label>
              <ion-input class="smallerInputFeld" [(ngModel)]="userData.roomid " type="text"  name="oldpassword"></ion-input>
            </ion-item>

            <ion-item class="accountSetting">
              <ion-label class="longLabel">Monatliches Limit:</ion-label>
              <ion-input class="smallerInputFeld" [(ngModel)]="userData.monthlyLimit" type="text"  name="oldpassword"></ion-input>
            </ion-item>

            <ion-item class="accountSetting">
              <ion-label class="longLabel">Bankverbindung:</ion-label>
              <ion-input class="smallerInputFeld" [(ngModel)]="userData.bankingData " type="text" name="oldpassword"></ion-input>
            </ion-item>

            <ion-item >
              <div class="setButton">
                <button ion-button color="primary" (click)="updateData()" block>Set</button>
              </div>
          </ion-item>

          </div>


        </ion-item-group>

      </ion-grid>
    </ion-card-content>

  </ion-card>

  

</ion-content>
