<ion-header>
    <ion-navbar>
        <ion-title>Inventory</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="cards-bg" padding>
    <!-- Location Dropdown -->
    <ion-row>
        <ion-col class="hausSelection" col-12 offset-0 col-xl-4 offset-xl-9 col-lg-6 offset-lg-7 col-md-7 offset-md-6 col-sm-9 offset-sm-4>
            <ion-item>
                <ion-label class="selectorLabel">Wähle ein Haus aus:</ion-label>
                <ion-select [(ngModel)]="selectedLocation._id" interface="popover">
                    <ion-option (ionSelect)="selectDropdownLocation(item)" *ngFor="let item of locationDropdown" [value]="item._id">{{item.locationName}}</ion-option>
                </ion-select>
            </ion-item>

        </ion-col>
    </ion-row>

    <ion-card class="cards-list-demo">

        <ion-card-header>
            {{selectedLocation.locationName}}
        </ion-card-header>

        <hr>

        <!-- List Content -->
        <ion-grid class="drinkListContent">
            <!-- Headers -->
            <ion-row class="border-bottom headers">
                <ion-col class="invoiceProduct" col-2>
                    <strong>Produkte</strong>
                </ion-col>
                <ion-col col-2 col-lg-1>
                    <strong>Preis</strong>
                </ion-col>
                <ion-col col-1>
                    <strong>Gesamt</strong>
                </ion-col>
                <ion-col style="text-align:center;" col-2 col-lg-1>
                    <strong>Bestand</strong>
                </ion-col>
                <ion-col style="padding-left:20px;" col-2 col-lg-1>
                    <strong>Menge</strong>
                </ion-col>
            </ion-row>

            <!-- List Content -->
            <div *ngFor="let drink of selectedLocation.drinks|async" class="drinkItem">
                <ion-row *ngIf='drink.deleted == "0"' [class.needToBuy]="drink.quantity==0">

                    <!-- Name -->
                    <ion-col class="iconAndName" col-6 col-sm-2>
                        <!--<ion-icon [name]='drink.icon' item-start></ion-icon>-->
                        <span class="header">Produkt</span>{{drink.productName}}
                    </ion-col>

                    <!-- Price -->
                    <ion-col class="sumPriceItem" col-6 col-sm-2 col-lg-1>
                        <ion-label position="fixed" class="header">Preis</ion-label>
                        <ion-input [(ngModel)]="drink.price"></ion-input>
                    </ion-col>

                    <!-- Total Price -->
                    <ion-col class="priceTag" col-4 col-sm-1>
                        <span class="header">Gesamt</span>
                        <span class="drinkPrice">{{+drink.price*drink.buyDrinkCount}}€</span>
                    </ion-col>

                    <!-- Quantity -->
                    <ion-col class="amountInput" col-4 col-sm-2 col-lg-1>
                        <div class="amount">
                            <span class="header">Bestand</span>
                            <span class="drinkAmount">{{+drink.count + +drink.buyDrinkCount}} / {{drink.countMax}}</span>
                            <span *ngIf="drink.count == drink.maxCount" class="errorMessage">Maximale Anzahl erreicht</span>
                        </div>
                    </ion-col>

                    <!-- Input Quantity -->
                    <ion-col class="priceInput" col-0 col-sm-2 col-lg-1>
                        <ion-input type="number" min="0" max="drink.countMax - drink.buyDrinkCount" placeholder="Enter a number" name="field" #field="ngModel" [(ngModel)]="drink.buyDrinkCount"></ion-input>
                    </ion-col>

                    <!-- Add Remove Buttons -->
                    <ion-col class="addDecButton" col-4 col-sm-3 col-lg-4>
                        <drink-button [drinkStatus]="drink" [isAdmin]="isAdmin"></drink-button>
                    </ion-col>

                    <!-- Delete Buttons -->
                    <ion-col class="addDecButton deleteButton" col-6 offset-md-6 col-md-3 offset-lg-0 col-lg-1>
                        <button ion-button block color="danger" (click)="deleteProduct(drink)" outline>delete</button>
                    </ion-col>

                    <!-- Set Buttons -->
                    <ion-col class="addDecButton setButton" col-6 col-md-3 col-lg-1>
                        <button ion-button block color="secondary" (click)="setProduct(drink)" outline>set</button>
                    </ion-col>

                </ion-row>
            </div>
        </ion-grid>

    </ion-card>
    <ion-card class="cards-list-demo">
        <!-- Create New Product -->
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item-group>
                        <ion-item-divider color="light">Ein neues Getränk hinzufügen:</ion-item-divider>
                        <div class="itemGroup">

                            <!-- Name -->
                            <ion-item>
                                <ion-label class="longLabel">Name:</ion-label>
                                <ion-input class="smallerInputFeld" [(ngModel)]="newProduct.productName" value="" placeholder="Wie heißt das Getränk?"></ion-input>
                            </ion-item>

                            <!-- Location -->
                            <ion-item>
                                <ion-label class="longLabel">Ort:</ion-label>
                                <ion-select class="invoiceOrt smallerInputFeld" [(ngModel)]="newProduct.locationId" interface="popover" placeholder="Gib hier den Standort ein">
                                    <ion-option *ngFor="let location of locationsList" [value]="location._id">{{location.locationName}}</ion-option>
                                </ion-select>
                            </ion-item>

                            <!-- Price -->
                            <ion-item>
                                <ion-label class="longLabel">Preis:</ion-label>
                                <ion-input class="smallerInputFeld" [(ngModel)]="newProduct.price" value="" placeholder="Wieviel kostet das Getränk?"></ion-input>
                            </ion-item>

                            <!-- Count -->
                            <ion-item>
                                <ion-label class="longLabel">Anzahl:</ion-label>
                                <ion-input class="smallerInputFeld" [(ngModel)]="newProduct.count" type="number" min="0" placeholder="Wieviel sind vorhanden?" name="field" #field="ngModel"></ion-input>
                            </ion-item>

                            <!-- Max Count -->
                            <ion-item>
                                <ion-label class="longLabel">Maximalanzahl:</ion-label>
                                <ion-input class="smallerInputFeld" [(ngModel)]="newProduct.countMax" type="number" min="0" placeholder="Wieviel können maximal gelagert werden?" name="field" #field="ngModel"></ion-input>
                            </ion-item>

                            <ion-row>
                                <ion-col col-12 col-xl-1 col-lg-2 col-md-4 col-sm-4>
                                    <button ion-button color="primary" block (click)="addProduct()">Add</button>
                                </ion-col>
                            </ion-row>
                        </div>
                    </ion-item-group>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

</ion-content>