page-inventory {
    .amountInput .text-input-md {
        padding-left: 25%;
    }
    .drinkAmount {
        padding: 0px;
    }
    ion-card-header {
        font-size: 1.2em;
        margin: 10px;
    }
    ion-col.hausSelection {
        padding-right: 9%;
    }
    @media all and (min-width: 416px) {
        ion-label.selectorLabel {
            margin-right: 25%;
        }
    }
    @media all and (min-width: 1200px) {
        ion-label.selectorLabel {
            margin-right: 0%;
        }
    }
    @media (max-width:768px) {
        .headers {
            display: none;
        }
    }
    @media (min-width:576px) {
        .drinkItem {
            .header {
                display: none;
            }
        }
    }
    @media (max-width:576px) {
        .drinkItem {
            .iconAndName {
                padding-left: 0;
            }
            .header {
                font-weight: bold;
                width: 100px;
                padding-right: 35px;
            }
            ion-col {
                text-align: left;
            }
            ion-row {
                padding-bottom: 20px;
            }
            &:nth-child(odd) {
                background: #caebf6;
            }
            &:nth-child(even) {
                background: #eff5f6;
            }
            .text-input-md {
                position: absolute;
                top: -40px;
                left: 75px;
                width: 75px;
            }
            .priceInput {
                display: none !important;
            }
        }
    }
    @media (min-width:992px) {
        ion-col{
            &.deleteButton {
                margin-left:-15px;
            }
            &.setButton{
                margin-right:15px;
            }
        }
        
    }
    ion-col.invoiceProduct{
        padding-left:2%;
    }
    
    
}