page-users {
    ion-row.userList {
        font-size: 1.2em;
    }
    ion-col.deleteUser {
        text-align: center;
        display: inline;
    }
    ion-col.userName {
        // text-align: center;
        padding-left: 4%;
        margin-top: 10px;
    }
    ion-col.checkbox {
        margin-top: 10px;
    }
    .setAsAdmin {
        font-size: 0.7em;
        padding-bottom: 100px;
    }
    .adminCheckbox {
        color: #777;
    }
    @media (min-width:768px) {
        ion-col.deleteUser{
            margin-right: 20px;
            margin-left: -20px;
        }
        
    }
}

ion-label {
    width: 15em !important;
    max-width: 15em !important;
}