<!--Problem: this "sunPrice is NOT dynamitic!!!"-->

<ion-header>
    <ion-navbar>
        <ion-title>
            Users
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="cards-bg" padding>

    <ion-grid>
        <ion-row>
            <ion-col col-12 col-md-8 offset-md-2>

                <ion-card class="cards-list-demo">
                    <ion-card-header>
                        Benutzer
                    </ion-card-header>


                    <!--User list-->
                    <ion-grid>
                        <ion-row class="userList" *ngFor="let user of users; let i = index">
                            <ion-col *ngIf='user.movedout == "0"' class="userName" col-5>
                                {{user.firstname}} {{user.lastname}}<br> ({{UserLocations[i]}})
                            </ion-col>
                            <ion-col *ngIf='user.movedout == "0"' class="checkbox" col-3 col-md-2>
                                <ion-checkbox [(ngModel)]="checkBoxUserIsAdmin[i]"></ion-checkbox>
                                <span class="setAsAdmin">Admin</span>
                            </ion-col>
                            <ion-col *ngIf='user.movedout == "0"' class="checkbox" col-4 col-md-3>
                                <ion-checkbox [(ngModel)]="checkBoxUserMovedOut[i]"></ion-checkbox>
                                <span class="setAsAdmin">Moved Out</span>
                            </ion-col>

                            <ion-col *ngIf='user.movedout == "0"' class="deleteUser" col-6 offset-5 col-sm-4 offset-sm-7 col-md-2 offset-md-0>
                                <button ion-button block color="primary" (click)="setUser(user,checkBoxUserIsAdmin[i],checkBoxUserMovedOut[i])" outline>Set</button>
                            </ion-col>
                        </ion-row>

                    </ion-grid>
                </ion-card>
            </ion-col>

        </ion-row>

    </ion-grid>

    <!-- New User Form -->
    <ion-grid>
        <ion-row>
            <ion-col col-12 col-md-8 offset-md-2>

                <ion-card>
                    <ion-item-group>
                        <ion-item-divider color="light">Einen neuen User hinzufügen:</ion-item-divider>
                        <div class="itemGroup">
                            <!-- First Name -->
                            <ion-item>
                                <ion-label class="longLabel">Vorname:</ion-label>
                                <ion-input class="smallerInputFeld" [(ngModel)]="newUser.firstname" value="" placeholder="Vorname des Bewohners"></ion-input>
                            </ion-item>
                            <!-- Last Name -->
                            <ion-item>
                                <ion-label class="longLabel">Nachname:</ion-label>
                                <ion-input class="smallerInputFeld" [(ngModel)]="newUser.lastname" value="" placeholder="Nachname des Bewohners"></ion-input>
                            </ion-item>
                            <!-- Email -->
                            <ion-item>
                                <ion-label class="longLabel">Email:</ion-label>
                                <ion-input class="smallerInputFeld" [(ngModel)]="newUser.email" type="email" value="" placeholder="Email des Bewohners"></ion-input>
                            </ion-item>
                            <!-- Location -->
                            <ion-item>
                                <ion-label class="longLabel">Haus:</ion-label>
                                <ion-select class="invoiceOrt smallerInputFeld" [(ngModel)]="newUser.locationid" interface="popover" placeholder="Gib hier eine Hausnummer ein">
                                    <ion-option *ngFor="let location of locations" [value]="location._id">{{location.locationName}}</ion-option>
                                </ion-select>
                            </ion-item>
                            <!-- Room Number -->
                            <ion-item>
                                <ion-label class="longLabel">Zimmernummer:</ion-label>
                                <ion-input class="smallerInputFeld" [(ngModel)]="newUser.roomid" value="" placeholder="Zimmernummer"></ion-input>
                            </ion-item>
                            <!-- Is Admin? -->
                            <ion-item class="adminCheckbox">
                                <ion-label>Admin</ion-label>
                                <ion-checkbox [(ngModel)]="newUserIsAdmin"></ion-checkbox>
                            </ion-item>
                            <!-- Add New User Button -->
                            <ion-item>
                                <button end ion-button color="primary" block (click)="addUser()" style="height:35px;">Add</button>
                            </ion-item>
                        </div>
                    </ion-item-group>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>